<div class="main-div">
    <div align='center'>
        <form class="search-form" #myform="ngForm" (ngSubmit)="onSearchClick(myform)">
            <mat-form-field class="search-full-width" (ngSubmit)="onSearchClick(myform)">
                <mat-label>Search in Library</mat-label>
                <input matInput placeholder="angular.js" value="" name="name" ngModel>
            </mat-form-field>
        </form>
        <mat-icon (click)="onSearchClick(myform)">search</mat-icon>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <commonCard [data]="data" [error]="error" [search]="true"></commonCard>
</div>