.main-div{
    margin: auto;
  width: 75%;
  padding: 10px;
}
.mat-card {
    align-items: center;
    margin-bottom: 16px;
    margin-left: 5%;
    padding: 5%;
    width: 50%;
}
.mat-raised-button {
  min-width: 12%;
}

.flex-column-style {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
} 

.flex-row-style {
  display: flex;
  flex-direction: row;
}

.mat-card-image {
  width: 100%;
  padding: 5%;
}