.main-div {
  margin: auto;
  width: 65%;
  padding: 10px;
}
.mat-card {
  align-items: center;
  margin-bottom: 16px;
  margin-left: 5%;
  padding: 5%;
  width: 50%;
}
.mat-raised-button {
  min-width: 12%;
}
.full-width {
  width: 100%;
}
.flex-row-style {
  display: flex;
  flex-direction: row;
}
.mat-card-image {
  width: 100%;
  height: 100%;
  padding: 5%;
}
.billingImage {
  width: 50%;
}
.formWithButton {
  width: 50%;
}
.mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
}
.mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
